@-webkit-keyframes glowing {
  /* line 11, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 12, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 13, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-moz-keyframes glowing {
  /* line 17, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 18, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 19, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@-o-keyframes glowing {
  /* line 23, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 24, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 25, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

@keyframes glowing {
  /* line 29, ../scss/partials/_glow.scss */
  from {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 30, ../scss/partials/_glow.scss */
  50% {
    -webkit-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 16px rgba(44, 154, 219, 0.8), 0px 1px 2px rgba(0, 0, 0, 0.2); }

  /* line 31, ../scss/partials/_glow.scss */
  to {
    -webkit-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(44, 154, 219, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2); } }

/* line 24, ../scss/partials/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #d4d4d4;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center; }
  /* line 42, ../scss/partials/_buttons.scss */
  .button:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc); }
  /* line 46, ../scss/partials/_buttons.scss */
  .button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 52, ../scss/partials/_buttons.scss */
  .button:focus {
    outline: none; }

/* line 58, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none; }

/* line 65, ../scss/partials/_buttons.scss */
.button-block {
  display: block; }

/* line 74, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none; }

/* line 86, ../scss/partials/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block; }

/* line 96, ../scss/partials/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eeeeee;
  border: none;
  text-shadow: none; }
  /* line 105, ../scss/partials/_buttons.scss */
  .button-flat:hover {
    background: #fbfbfb; }
  /* line 108, ../scss/partials/_buttons.scss */
  .button-flat:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #eeeeee;
    color: #bbbbbb; }
  /* line 113, ../scss/partials/_buttons.scss */
  .button-flat.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 123, ../scss/partials/_buttons.scss */
.button-border {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666666;
  border: 2px solid #666666;
  background: none;
  text-shadow: none; }
  /* line 132, ../scss/partials/_buttons.scss */
  .button-border:hover {
    background: none;
    color: gray;
    border: 2px solid gray; }
  /* line 137, ../scss/partials/_buttons.scss */
  .button-border:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #4d4d4d;
    border: 2px solid #4d4d4d; }
  /* line 143, ../scss/partials/_buttons.scss */
  .button-border.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 153, ../scss/partials/_buttons.scss */
.button-3d {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: -moz-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: -o-linear-gradient(top, #f3f3f3, #e9e9e9);
  background: linear-gradient(top, #f3f3f3, #e9e9e9);
  background-color: #eeeeee;
  color: #666666;
  border: 1px solid #e1e1e1;
  text-shadow: none;
  position: relative;
  top: 0px; }
  /* line 165, ../scss/partials/_buttons.scss */
  .button-3d:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #bbbbbb, 0px 8px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
    background: -webkit-linear-gradient(top, #ffffff, #ebebeb);
    background: -moz-linear-gradient(top, #ffffff, #ebebeb);
    background: -o-linear-gradient(top, #ffffff, #ebebeb);
    background: linear-gradient(top, #ffffff, #ebebeb);
    background-color: white; }
  /* line 170, ../scss/partials/_buttons.scss */
  .button-3d:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bbbbbb, 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bbbbbb, 0px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #bbbbbb, 0px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #f3f3f3));
    background: -webkit-linear-gradient(top, #e9e9e9, #f3f3f3);
    background: -moz-linear-gradient(top, #e9e9e9, #f3f3f3);
    background: -o-linear-gradient(top, #e9e9e9, #f3f3f3);
    background: linear-gradient(top, #e9e9e9, #f3f3f3);
    background-color: #eeeeee;
    color: #bbbbbb;
    border: 1px solid #e1e1e1;
    top: 5px; }
  /* line 178, ../scss/partials/_buttons.scss */
  .button-3d.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 192, ../scss/partials/_buttons.scss */
.button-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 192, ../scss/partials/_buttons.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

/* line 192, ../scss/partials/_buttons.scss */
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 21px; }

/* line 226, ../scss/partials/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #47b458), color-stop(100%, #399046));
  background: -webkit-linear-gradient(top, #47b458, #399046);
  background: -moz-linear-gradient(top, #47b458, #399046);
  background: -o-linear-gradient(top, #47b458, #399046);
  background: linear-gradient(top, #47b458, #399046);
  background-color: #40a24f;
  border-color: #327d3d;
  color: white;
  text-shadow: 0 -1px 1px rgba(21, 52, 26, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .button-primary:hover {
    background-color: #40a24f;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #58bd67), color-stop(100%, #399046));
    background: -webkit-linear-gradient(top, #58bd67, #399046);
    background: -moz-linear-gradient(top, #58bd67, #399046);
    background: -o-linear-gradient(top, #58bd67, #399046);
    background: linear-gradient(top, #58bd67, #399046); }
  /* line 237, ../scss/partials/_buttons.scss */
  .button-primary:active {
    background: #578b5f;
    color: #23592b; }

/* line 250, ../scss/partials/_buttons.scss */
.button-3d-primary {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #327d3d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #327d3d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #327d3d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43a953), color-stop(100%, #3d9b4b));
  background: -webkit-linear-gradient(top, #43a953, #3d9b4b);
  background: -moz-linear-gradient(top, #43a953, #3d9b4b);
  background: -o-linear-gradient(top, #43a953, #3d9b4b);
  background: linear-gradient(top, #43a953, #3d9b4b);
  background-color: #40a24f;
  color: white;
  border: 1px solid #327d3d;
  text-shadow: none;
  position: relative;
  top: 0px; }
  /* line 262, ../scss/partials/_buttons.scss */
  .button-3d-primary:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #2f763a, 0px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #2f763a, 0px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #2f763a, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #51ba61), color-stop(100%, #3f9e4d));
    background: -webkit-linear-gradient(top, #51ba61, #3f9e4d);
    background: -moz-linear-gradient(top, #51ba61, #3f9e4d);
    background: -o-linear-gradient(top, #51ba61, #3f9e4d);
    background: linear-gradient(top, #51ba61, #3f9e4d);
    background-color: #58bd67; }
  /* line 267, ../scss/partials/_buttons.scss */
  .button-3d-primary:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #327d3d, 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #327d3d, 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #327d3d, 0px 3px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9b4b), color-stop(100%, #43a953));
    background: -webkit-linear-gradient(top, #3d9b4b, #43a953);
    background: -moz-linear-gradient(top, #3d9b4b, #43a953);
    background: -o-linear-gradient(top, #3d9b4b, #43a953);
    background: linear-gradient(top, #3d9b4b, #43a953);
    background-color: #578b5f;
    color: #23592b;
    border: 1px solid #399046;
    top: 5px; }
  /* line 275, ../scss/partials/_buttons.scss */
  .button-3d-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 289, ../scss/partials/_buttons.scss */
.button-border-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #40a24f;
  border: 2px solid #40a24f;
  background: none;
  text-shadow: none; }
  /* line 298, ../scss/partials/_buttons.scss */
  .button-border-primary:hover {
    background: none;
    color: #58bd67;
    border: 2px solid #58bd67; }
  /* line 303, ../scss/partials/_buttons.scss */
  .button-border-primary:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #327d3d;
    border: 2px solid #327d3d; }
  /* line 309, ../scss/partials/_buttons.scss */
  .button-border-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 321, ../scss/partials/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #40a24f;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .button-flat-primary:hover {
    background: #47b458; }
  /* line 333, ../scss/partials/_buttons.scss */
  .button-flat-primary:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #578b5f;
    color: #2a6b34; }
  /* line 338, ../scss/partials/_buttons.scss */
  .button-flat-primary.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b73142), color-stop(100%, #8f2734));
  background: -webkit-linear-gradient(top, #b73142, #8f2734);
  background: -moz-linear-gradient(top, #b73142, #8f2734);
  background: -o-linear-gradient(top, #b73142, #8f2734);
  background: linear-gradient(top, #b73142, #8f2734);
  background-color: #a32c3b;
  border-color: #7b212c;
  color: white;
  text-shadow: 0 -1px 1px rgba(43, 11, 15, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .button-action:hover {
    background-color: #a32c3b;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c9394b), color-stop(100%, #8f2734));
    background: -webkit-linear-gradient(top, #c9394b, #8f2734);
    background: -moz-linear-gradient(top, #c9394b, #8f2734);
    background: -o-linear-gradient(top, #c9394b, #8f2734);
    background: linear-gradient(top, #c9394b, #8f2734); }
  /* line 237, ../scss/partials/_buttons.scss */
  .button-action:active {
    background: #8e414a;
    color: #53161e; }

/* line 250, ../scss/partials/_buttons.scss */
.button-3d-action {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #7b212c, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #7b212c, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #7b212c, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ab2e3e), color-stop(100%, #9b2a38));
  background: -webkit-linear-gradient(top, #ab2e3e, #9b2a38);
  background: -moz-linear-gradient(top, #ab2e3e, #9b2a38);
  background: -o-linear-gradient(top, #ab2e3e, #9b2a38);
  background: linear-gradient(top, #ab2e3e, #9b2a38);
  background-color: #a32c3b;
  color: white;
  border: 1px solid #7b212c;
  text-shadow: none;
  position: relative;
  top: 0px; }
  /* line 262, ../scss/partials/_buttons.scss */
  .button-3d-action:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #731f2a, 0px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #731f2a, 0px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #731f2a, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c33547), color-stop(100%, #9f2b3a));
    background: -webkit-linear-gradient(top, #c33547, #9f2b3a);
    background: -moz-linear-gradient(top, #c33547, #9f2b3a);
    background: -o-linear-gradient(top, #c33547, #9f2b3a);
    background: linear-gradient(top, #c33547, #9f2b3a);
    background-color: #c9394b; }
  /* line 267, ../scss/partials/_buttons.scss */
  .button-3d-action:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #7b212c, 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #7b212c, 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #7b212c, 0px 3px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9b2a38), color-stop(100%, #ab2e3e));
    background: -webkit-linear-gradient(top, #9b2a38, #ab2e3e);
    background: -moz-linear-gradient(top, #9b2a38, #ab2e3e);
    background: -o-linear-gradient(top, #9b2a38, #ab2e3e);
    background: linear-gradient(top, #9b2a38, #ab2e3e);
    background-color: #8e414a;
    color: #53161e;
    border: 1px solid #8f2734;
    top: 5px; }
  /* line 275, ../scss/partials/_buttons.scss */
  .button-3d-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 289, ../scss/partials/_buttons.scss */
.button-border-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #a32c3b;
  border: 2px solid #a32c3b;
  background: none;
  text-shadow: none; }
  /* line 298, ../scss/partials/_buttons.scss */
  .button-border-action:hover {
    background: none;
    color: #c9394b;
    border: 2px solid #c9394b; }
  /* line 303, ../scss/partials/_buttons.scss */
  .button-border-action:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #7b212c;
    border: 2px solid #7b212c; }
  /* line 309, ../scss/partials/_buttons.scss */
  .button-border-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 321, ../scss/partials/_buttons.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #a32c3b;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .button-flat-action:hover {
    background: #b73142; }
  /* line 333, ../scss/partials/_buttons.scss */
  .button-flat-action:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #8e414a;
    color: #671c25; }
  /* line 338, ../scss/partials/_buttons.scss */
  .button-flat-action.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3bafbf), color-stop(100%, #2f8b99));
  background: -webkit-linear-gradient(top, #3bafbf, #2f8b99);
  background: -moz-linear-gradient(top, #3bafbf, #2f8b99);
  background: -o-linear-gradient(top, #3bafbf, #2f8b99);
  background: linear-gradient(top, #3bafbf, #2f8b99);
  background-color: #359dac;
  border-color: #297985;
  color: white;
  text-shadow: 0 -1px 1px rgba(17, 50, 55, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .button-highlight:hover {
    background-color: #359dac;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4cb8c8), color-stop(100%, #2f8b99));
    background: -webkit-linear-gradient(top, #4cb8c8, #2f8b99);
    background: -moz-linear-gradient(top, #4cb8c8, #2f8b99);
    background: -o-linear-gradient(top, #4cb8c8, #2f8b99);
    background: linear-gradient(top, #4cb8c8, #2f8b99); }
  /* line 237, ../scss/partials/_buttons.scss */
  .button-highlight:active {
    background: #4c8c96;
    color: #1d565e; }

/* line 250, ../scss/partials/_buttons.scss */
.button-3d-highlight {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #297985, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #297985, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #297985, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37a4b4), color-stop(100%, #3396a4));
  background: -webkit-linear-gradient(top, #37a4b4, #3396a4);
  background: -moz-linear-gradient(top, #37a4b4, #3396a4);
  background: -o-linear-gradient(top, #37a4b4, #3396a4);
  background: linear-gradient(top, #37a4b4, #3396a4);
  background-color: #359dac;
  color: white;
  border: 1px solid #297985;
  text-shadow: none;
  position: relative;
  top: 0px; }
  /* line 262, ../scss/partials/_buttons.scss */
  .button-3d-highlight:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #27727d, 0px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #27727d, 0px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #27727d, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #44b5c5), color-stop(100%, #3499a8));
    background: -webkit-linear-gradient(top, #44b5c5, #3499a8);
    background: -moz-linear-gradient(top, #44b5c5, #3499a8);
    background: -o-linear-gradient(top, #44b5c5, #3499a8);
    background: linear-gradient(top, #44b5c5, #3499a8);
    background-color: #4cb8c8; }
  /* line 267, ../scss/partials/_buttons.scss */
  .button-3d-highlight:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #297985, 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #297985, 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #297985, 0px 3px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3396a4), color-stop(100%, #37a4b4));
    background: -webkit-linear-gradient(top, #3396a4, #37a4b4);
    background: -moz-linear-gradient(top, #3396a4, #37a4b4);
    background: -o-linear-gradient(top, #3396a4, #37a4b4);
    background: linear-gradient(top, #3396a4, #37a4b4);
    background-color: #4c8c96;
    color: #1d565e;
    border: 1px solid #2f8b99;
    top: 5px; }
  /* line 275, ../scss/partials/_buttons.scss */
  .button-3d-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 289, ../scss/partials/_buttons.scss */
.button-border-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #359dac;
  border: 2px solid #359dac;
  background: none;
  text-shadow: none; }
  /* line 298, ../scss/partials/_buttons.scss */
  .button-border-highlight:hover {
    background: none;
    color: #4cb8c8;
    border: 2px solid #4cb8c8; }
  /* line 303, ../scss/partials/_buttons.scss */
  .button-border-highlight:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #297985;
    border: 2px solid #297985; }
  /* line 309, ../scss/partials/_buttons.scss */
  .button-border-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 321, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #359dac;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .button-flat-highlight:hover {
    background: #3bafbf; }
  /* line 333, ../scss/partials/_buttons.scss */
  .button-flat-highlight:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #4c8c96;
    color: #236872; }
  /* line 338, ../scss/partials/_buttons.scss */
  .button-flat-highlight.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff019), color-stop(100%, #e5d600));
  background: -webkit-linear-gradient(top, #fff019, #e5d600);
  background: -moz-linear-gradient(top, #fff019, #e5d600);
  background: -o-linear-gradient(top, #fff019, #e5d600);
  background: linear-gradient(top, #fff019, #e5d600);
  background-color: #feee00;
  border-color: #cbbe00;
  color: #070707;
  text-shadow: 0 -1px 1px rgba(101, 95, 0, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .button-caution:hover {
    background-color: #feee00;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff232), color-stop(100%, #e5d600));
    background: -webkit-linear-gradient(top, #fff232, #e5d600);
    background: -moz-linear-gradient(top, #fff232, #e5d600);
    background: -o-linear-gradient(top, #fff232, #e5d600);
    background: linear-gradient(top, #fff232, #e5d600); }
  /* line 237, ../scss/partials/_buttons.scss */
  .button-caution:active {
    background: #e5d819;
    color: #988e00; }

/* line 250, ../scss/partials/_buttons.scss */
.button-3d-caution {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #cbbe00, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #cbbe00, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #cbbe00, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff009), color-stop(100%, #f4e400));
  background: -webkit-linear-gradient(top, #fff009, #f4e400);
  background: -moz-linear-gradient(top, #fff009, #f4e400);
  background: -o-linear-gradient(top, #fff009, #f4e400);
  background: linear-gradient(top, #fff009, #f4e400);
  background-color: #feee00;
  color: #070707;
  border: 1px solid #cbbe00;
  text-shadow: none;
  position: relative;
  top: 0px; }
  /* line 262, ../scss/partials/_buttons.scss */
  .button-3d-caution:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #c1b500, 0px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #c1b500, 0px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #c1b500, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff128), color-stop(100%, #f9e900));
    background: -webkit-linear-gradient(top, #fff128, #f9e900);
    background: -moz-linear-gradient(top, #fff128, #f9e900);
    background: -o-linear-gradient(top, #fff128, #f9e900);
    background: linear-gradient(top, #fff128, #f9e900);
    background-color: #fff232; }
  /* line 267, ../scss/partials/_buttons.scss */
  .button-3d-caution:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #cbbe00, 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #cbbe00, 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #cbbe00, 0px 3px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4e400), color-stop(100%, #fff009));
    background: -webkit-linear-gradient(top, #f4e400, #fff009);
    background: -moz-linear-gradient(top, #f4e400, #fff009);
    background: -o-linear-gradient(top, #f4e400, #fff009);
    background: linear-gradient(top, #f4e400, #fff009);
    background-color: #e5d819;
    color: #988e00;
    border: 1px solid #e5d600;
    top: 5px; }
  /* line 275, ../scss/partials/_buttons.scss */
  .button-3d-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 289, ../scss/partials/_buttons.scss */
.button-border-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #feee00;
  border: 2px solid #feee00;
  background: none;
  text-shadow: none; }
  /* line 298, ../scss/partials/_buttons.scss */
  .button-border-caution:hover {
    background: none;
    color: #fff232;
    border: 2px solid #fff232; }
  /* line 303, ../scss/partials/_buttons.scss */
  .button-border-caution:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #cbbe00;
    border: 2px solid #cbbe00; }
  /* line 309, ../scss/partials/_buttons.scss */
  .button-border-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 321, ../scss/partials/_buttons.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #feee00;
  color: #070707;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .button-flat-caution:hover {
    background: #fff019; }
  /* line 333, ../scss/partials/_buttons.scss */
  .button-flat-caution:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #e5d819;
    color: #b2a600; }
  /* line 338, ../scss/partials/_buttons.scss */
  .button-flat-caution.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 226, ../scss/partials/_buttons.scss */
.button-royal {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a96c4e), color-stop(100%, #87563e));
  background: -webkit-linear-gradient(top, #a96c4e, #87563e);
  background: -moz-linear-gradient(top, #a96c4e, #87563e);
  background: -o-linear-gradient(top, #a96c4e, #87563e);
  background: linear-gradient(top, #a96c4e, #87563e);
  background-color: #986146;
  border-color: #754b36;
  color: white;
  text-shadow: 0 -1px 1px rgba(47, 30, 22, 0.35); }
  /* line 233, ../scss/partials/_buttons.scss */
  .button-royal:hover {
    background-color: #986146;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b47a5d), color-stop(100%, #87563e));
    background: -webkit-linear-gradient(top, #b47a5d, #87563e);
    background: -moz-linear-gradient(top, #b47a5d, #87563e);
    background: -o-linear-gradient(top, #b47a5d, #87563e);
    background: linear-gradient(top, #b47a5d, #87563e); }
  /* line 237, ../scss/partials/_buttons.scss */
  .button-royal:active {
    background: #82695c;
    color: #523426; }

/* line 250, ../scss/partials/_buttons.scss */
.button-3d-royal {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #754b36, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #754b36, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #754b36, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9f6549), color-stop(100%, #915d43));
  background: -webkit-linear-gradient(top, #9f6549, #915d43);
  background: -moz-linear-gradient(top, #9f6549, #915d43);
  background: -o-linear-gradient(top, #9f6549, #915d43);
  background: linear-gradient(top, #9f6549, #915d43);
  background-color: #986146;
  color: white;
  border: 1px solid #754b36;
  text-shadow: none;
  position: relative;
  top: 0px; }
  /* line 262, ../scss/partials/_buttons.scss */
  .button-3d-royal:hover {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #6e4633, 0px 8px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #6e4633, 0px 8px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #6e4633, 0px 8px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b17456), color-stop(100%, #955f44));
    background: -webkit-linear-gradient(top, #b17456, #955f44);
    background: -moz-linear-gradient(top, #b17456, #955f44);
    background: -o-linear-gradient(top, #b17456, #955f44);
    background: linear-gradient(top, #b17456, #955f44);
    background-color: #b47a5d; }
  /* line 267, ../scss/partials/_buttons.scss */
  .button-3d-royal:active {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #754b36, 0px 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #754b36, 0px 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #754b36, 0px 3px 3px rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #915d43), color-stop(100%, #9f6549));
    background: -webkit-linear-gradient(top, #915d43, #9f6549);
    background: -moz-linear-gradient(top, #915d43, #9f6549);
    background: -o-linear-gradient(top, #915d43, #9f6549);
    background: linear-gradient(top, #915d43, #9f6549);
    background-color: #82695c;
    color: #523426;
    border: 1px solid #87563e;
    top: 5px; }
  /* line 275, ../scss/partials/_buttons.scss */
  .button-3d-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 289, ../scss/partials/_buttons.scss */
.button-border-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #986146;
  border: 2px solid #986146;
  background: none;
  text-shadow: none; }
  /* line 298, ../scss/partials/_buttons.scss */
  .button-border-royal:hover {
    background: none;
    color: #b47a5d;
    border: 2px solid #b47a5d; }
  /* line 303, ../scss/partials/_buttons.scss */
  .button-border-royal:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: none;
    color: #754b36;
    border: 2px solid #754b36; }
  /* line 309, ../scss/partials/_buttons.scss */
  .button-border-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 321, ../scss/partials/_buttons.scss */
.button-flat-royal {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #986146;
  color: white;
  text-shadow: none;
  border: none; }
  /* line 330, ../scss/partials/_buttons.scss */
  .button-flat-royal:hover {
    background: #a96c4e; }
  /* line 333, ../scss/partials/_buttons.scss */
  .button-flat-royal:active {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    background: #82695c;
    color: #64402e; }
  /* line 338, ../scss/partials/_buttons.scss */
  .button-flat-royal.disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none; }

/* line 358, ../scss/partials/_buttons.scss */
.button-jumbo {
  font-size: 26px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px; }

/* line 358, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 21px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px; }

/* line 389, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px; }

/* line 358, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 17px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px; }

/* line 389, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px; }

/* line 358, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 14px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px; }

/* line 389, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px; }

/* line 410, ../scss/partials/_buttons.scss */
.button.glow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -khtml-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: glowing;
  -khtml-animation-name: glowing;
  -moz-animation-name: glowing;
  -ms-animation-name: glowing;
  -o-animation-name: glowing;
  animation-name: glowing; }
/* line 413, ../scss/partials/_buttons.scss */
.button.glow:active {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -ms-animation-name: none;
  -o-animation-name: none;
  animation-name: none;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white; }

/* line 425, ../scss/partials/_buttons.scss */
.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }
  /* line 432, ../scss/partials/_buttons.scss */
  .button-dropdown .button .icon-caret-down {
    font-size: 90%;
    margin: 0px 0px 0px 3px;
    vertical-align: middle; }
  /* line 439, ../scss/partials/_buttons.scss */
  .button-dropdown ul.button-dropdown-menu-below {
    top: 115%; }
  /* line 442, ../scss/partials/_buttons.scss */
  .button-dropdown ul.button-dropdown-menu-above {
    bottom: 115%;
    top: auto; }
  /* line 448, ../scss/partials/_buttons.scss */
  .button-dropdown ul {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    background: #fcfcfc;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%; }
    /* line 462, ../scss/partials/_buttons.scss */
    .button-dropdown ul li {
      padding: 0px;
      margin: 0px;
      display: block; }
      /* line 467, ../scss/partials/_buttons.scss */
      .button-dropdown ul li:first-child a {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px; }
      /* line 470, ../scss/partials/_buttons.scss */
      .button-dropdown ul li:last-child a {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px; }
    /* line 476, ../scss/partials/_buttons.scss */
    .button-dropdown ul .button-dropdown-divider {
      -webkit-box-shadow: inset 0px 1px 0px white;
      -moz-box-shadow: inset 0px 1px 0px white;
      box-shadow: inset 0px 1px 0px white;
      border-top: 1px solid #e4e4e4; }
    /* line 481, ../scss/partials/_buttons.scss */
    .button-dropdown ul a {
      display: block;
      padding: 0px 20px;
      text-decoration: none;
      font-size: 11px;
      color: #333333;
      line-height: 30px;
      white-space: nowrap; }
      /* line 490, ../scss/partials/_buttons.scss */
      .button-dropdown ul a:hover {
        background-color: #3c6ab9;
        color: white; }
